.header{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    margin: 0 1.5em;
}

.header a{
    margin: 1rem 3rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

@media screen and (max-width:550px){

    .header{
        margin: 0rem;
    }

    .header a{
        font-size: 1rem;
        font-weight: 400;
        margin: 1rem;
    }
}