.header{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
}

.header a{
    margin: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

@media screen and (max-width:550px){

    .header a{
        font-size: 1rem;
        font-weight: 400;
    }
}