.cart {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  gap: 3rem;
  height: 100%;
}

.cart-item {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem;
}

.item-card img {
  width: 100%;
  border-radius: 2rem;
  border-bottom: 1px solid gray;
}

.item-card {
  background-color: white;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  transition: all 300ms ease-in-out;
  background-color: whitesmoke;
}

.item-card .item-details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem 2rem;
}

.item-card .item-details h3 {
  font-size: 1.8rem;
  font-size: 1.7rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.item-card .item-details h4 {
  font-size: 1.5rem;
  font-weight: 900;
}

.item-card:hover {
  box-shadow: 0 3px 7px black;
  transform: scale(1.02);
}

.func {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 2rem;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter button {
  font-size: 1.2rem;
  border: 1px solid black;
  background-color: white;
  padding: 0 1rem;
  margin: 0 0.5rem;
  font-weight: 500;
  border-radius: 1rem;
}

.counter p {
  font-size: 1.2rem;
  border: 1px solid black;
  background-color: white;
  padding: 0 1rem;
  font-weight: 500;
  border-radius: 1.2rem;
}

.counter button:hover {
  background-color: black;
  color: white;
  box-shadow: 2px 2px 5px gray;
  transition: all 0.3s ease-in-out;
}

.cartbtn button {
  cursor: pointer;
  background-color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  outline: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.cartbtn button:hover {
  background-color: black;
  color: white;
  box-shadow: 2px 2px 5px gray;
}

.cart-summary {
  position: sticky;
  padding: 1.5rem;
  background-color: whitesmoke;
  border-radius: 2rem;
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  flex-direction: column;
  top: 0;
}
.summary {
  padding-bottom: 1rem;
}

.details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.details p {
  font-size: 1.5rem;
  font-weight: 600;
}

.details .funbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.funbtn button {
  cursor: pointer;
  background-color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  outline: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.funbtn button:hover {
  background-color: black;
  color: white;
  box-shadow: 2px 2px 5px gray;
}

@media  (max-width: 750px) {
  .cart {
    
  }
}