.title {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.title h1{
 font-weight: 500;
}

.searchFilter {
  width: 50%;
  outline: none;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.all-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin: 1rem 5rem; */
  gap: 4rem;
   padding: 0.5rem;
}

.product-card {
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  transition: all 300ms ease-in-out;
  background-color: whitesmoke;
}

.product-card img {
  width: 100%;
  border-radius: 1.5rem;
  border-bottom: 1px solid gray;
}

.product-card .product-details {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
}

.product-details h3 {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.product-details h4 {
  font-size: 1rem;
  font-weight: 400;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
}

.btns .addToCartBttn {
  border: 1px black solid;
  cursor: pointer;
  background-color: whitesmoke;
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  outline: none;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.btns .addToCartBttn:hover {
  background-color: black;
  color: white;
  box-shadow: 2px 2px 5px gray;
}

.product-card:hover {
  box-shadow: 0 3px 7px black;
  transform: scale(1.02);
}

@media screen and (max-width: 500px) {
  .title {
    flex-direction: column;
  }

  .searchFilter {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .all-products {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    /* margin: 1rem 1rem; */
    /* padding: 1rem; */
  }

  .product-card .product-details {
    padding: 0.7rem 1rem;
  }

  .product-details h3 {
    font-size: 1rem;
    padding-bottom: 0.2rem;
  }

  .product-details h4 {
    font-size: 0.8rem;
  }

  .btns {
    width: 100%;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
  }

  .btns .addToCartBttn {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .title {
    flex-direction: column;
  }

  .searchFilter{
    width: 100%;
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  }

  .all-products {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .product-card {
    gap: 0.5rem;
  }

  .product-card .product-details {
    padding: 0.5rem 1rem;
  }

  .product-details h3 {
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
  }

  .product-details h4 {
    font-size: 1rem;
  }

  .btns {
    width: 100%;
    padding: 1rem;
  }

  .btns .addToCartBttn {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
  }
}