.products {
  margin: 2rem 5rem;
}

.products-wrapper {
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.product-summary {
  display: flex;
  justify-content: space-between;
}

.image-pro {
  width: 50%;
}

.image-pro img {
  width: 100%;
}

.productinfo {
  width: 50%;
  padding: 1rem 2rem;
}

.product-details {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.head-product h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

.head-product h4 {
  font-size: 2rem;
  font-weight: 300;
}

.offers {
  padding: 1rem;
}

.offers h5 {
  font-size: 1.2rem;
  font-weight: 400;
}

.offers ul {
  font-size: 1rem;
  list-style: square;
  line-height: 2;
}

.description {
  display: flex;
  justify-content: space-between;
}

.description h4 {
  font-size: 1.2rem;
  font-weight: 500;
  width: 40%;
}

.description p {
  width: 60%;
  font-size: 1rem;
  opacity: 0.8;
}

.btns {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.btns button {
  font-size: 1.2rem;
  padding: 0rem 5rem;
  border-radius: 3rem;
  background-color: white;
  transition: all 300ms ease-in-out;
  outline: none;
  border: none;
  border: 1px solid black;
}

.wishlist-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns button:hover {
  background-color: black;
  color: white;
}

.reviews {
  display: flex;
  flex-direction: column;
  
}

.reviews h3 {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
  background-color: whitesmoke;
}

.review-card {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
}

.review-card h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1rem;
}

.review-card p {
  margin: 1rem;
  opacity: 0.8;
}

.review {
  background-color: whitesmoke;
  gap: 2rem;
}

@media screen and (max-width: 550px) {
  .products {
    margin: 1rem;
  }

  .product-details {
    gap: 2rem;
  }

  .product-card {
    gap: 1rem;
  }

  .product-summary {
    flex-direction: column;
  }

  .image-pro {
    width: 100%;
  }

  .productinfo {
    width: 100%;
    padding: 1rem;
  }

  .head-product h3 {
    font-size: 1.7rem;
  }

  .head-product h4 {
    font-size: 1.5rem;
  }

  .offers {
    padding: 0;
  }

  .offers h5 {
    font-size: 1.2rem;
  }

  .offers ul {
    font-size: 1rem;
  }

  .description {
    flex-direction: column;

    gap: 2rem;
  }

  .description h4 {
    width: 100%;
  }

  .description p {
    width: 100%;
    font-size: 1rem;
  }

  .btns {
    margin-top: 1rem;
    justify-content: space-between;
  }

  .btns button {
    font-size: 1.2rem;
    padding: 0rem 3rem;
  }

  .reviews h3{
    font-size: 1.5rem;
  }

  .review-card h4{
    font-size: 1.2rem;
  }

  .review-card p{
    font-size: 1rem;
  }
}
