.wishlist-card {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  height: 100%;
}

.wishlist-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wishlist-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 0 2rem;
}

.card img {
  width: 100%;
  border-radius: 2rem;
  border-bottom: 1px solid gray;
}

.card {
  background-color: white;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  transition: all 300ms ease-in-out;
  background-color: whitesmoke;
}

.card .details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem 2rem;
}

.card .details h3 {
  font-size: 1.7rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.card .details h4 {
  font-size: 1.5rem;
  font-weight: 900;
}

.card:hover {
  box-shadow: 0 3px 7px black;
  transform: scale(1.02);
}

.functions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 2rem;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
  
}

.removebtn{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.removebtn button {
  cursor: pointer;
  background-color: white;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  outline: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.removebtn button:hover {
  background-color: black;
  color: white;
  box-shadow: 2px 2px 5px gray;
}

@media screen and (max-width: 500px) {
  .wishlist-card {
    flex-direction: column;

  }

  .wishlist-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem 0rem;
    width: 100%;
    padding: 0 1rem;
  }

  .card img {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .card .details {
    justify-content: flex-start;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
  }

  .card .details h3 {
    font-size: 1.2rem;
    padding-bottom: 0;
  }

  .card .details h4 {
    font-size: 1rem;
  }

  .functions {
    margin-right: 0rem;
    padding: 0 1rem;
  }

  .removebtn{
    flex-direction: column;
    gap: 0.5rem;
  }

  .removebtn button {
    padding: 0.2rem 1rem;
    font-size: 1rem;
  }
}
