.category-card {
  margin: 3rem;
}

.fliter {
  display: flex;
  width: 100%;
  min-height: 80vh;
}

.filter-results {
  width: 80%;
  margin: 1rem;
}

@media screen and (max-width: 550px) {
  .category-card {
    margin: 1rem;
  }

  .fliter {
    flex-direction: column;
  }

  .filter-results {
    width: 100%;
    margin: 0;
  }
}
